**/*/__pycache__
db.sqlite3
.vscode/
*.pyc
docs/_build
.coverage
htmlcov
.pytest_cache
.env
logfile.log
.virtualenvs/
.venv/
lib/
pyvenv.cfg
uploads/
date_time.json
extras/*.csv
extras/sample.json
cves/
images/
src/scopes.csv
src/internal/


# Devenv
.devenv*
devenv.local.nix
.direnv